body{
  font-family: 'Montserrat', sans-serif;
  background-color: gray;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a{
  color: white;
}
a:visited{
  color:white;
}
a:hover{
  color:white;
}
#cesiumContainer{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  font-family: sans-serif;
}
#parChart{
width: 95%;
height: 400;
margin: auto;
}
#linesEtc{
  width:100%;
  padding-top: 4px;
  padding-bottom: 7px;
  background: rgba(0,0,0,.8);
  border-style: solid;
  border-width: 1.5px;
  border-color-top: rgba(100,100,100,.6);
  border-top-left-radius:7px;
  border-top-right-radius: 10px;
  color: #333;
  z-index: 0;
  touch-action: none;
}
#slidingPanel {
  position: fixed;
  top: 100%;
  width: 100%;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;

}

#slidingPanel.on {

}

#pulltab{
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 3px;
  padding-bottom: 2px;
  position: relative;
  top:2px;
  left: 10px;
  width: 30px;
  height: 20px;
  background: rgba(100,100,100,.6);
  display: table;
  border-style: none;
  border-width: 1.5px ;
  border-color: rgba(100,100,100,.6);
  border-bottom-color: rgb(0,0,0);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  color: white;
  transition: all .3s;
  z-index:1;
  overflow: hidden;
}

#pulltab .fa{
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  transition: transform .3s;
}
#pulltab .icon{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  height: 40px;
  cursor: pointer;
}
#pulltab .icon:hover{
  color: #73c5f3;
}
#pulltab.on{
  background: rgba(0,0,0,.6);
  width: 670px;
  border-style: solid;
}
#pulltab.on .fa{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
#entityStats{
  width: 250px;
  //height: 10px;
  display: none;
  margin: 7px;
  font-size: 11px;
}
.on #entityStats{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#entityStats > div{
  height: 14px;
  overflow: hidden;
}
#topStrip {
  display: inline;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 0px;
  height: 0px;
}

#dimensionSelectPanel {
  display: inline-block;
  position: relative;
  background-color: rgba(0,0,0,.8);
  //margin: auto;
  z-index: 2;
  font-size: 14px;
  color: white;
  border-style: solid;
  border-color: rgb(130,130,150);
  border-width: 1px;
  border-radius: 5px;
  padding: 4px;
  width: 190px;
  cursor: pointer;
}
#dimensionUpdateButton{
  width: 170px;
  margin: 0px 5px;
  text-align: center;
  //display: inline;
  //float:none;
}
#dimensionSelectPanel.hide{
  display: none;
}
#dimensionList{
  max-height: 250px;
  overflow: auto;
}
.dimensionItem {
  margin: auto;
  background-color: black;
  display: table;
  font-size: 13px;
}
.dimensionItem:hover{
  background-color: rgba(69,69,69,.8);
} 

.dimensionItem > div{
  vertical-align: middle;
  padding: 2px;
  display: table-cell;
}
.dimensionLabel {
  text-align: left;
  width: 150px;
}
.dimensionIcon {

}

.dimensionItem i{
  opacity: 0;
}
.dimensionItem.selected i {
  opacity: 1;
}


.buttonset{
  display: none;
}
.on .buttonset{
  display: table-cell;
  float:left;
  margin: 0px 15px;
}

.fancy-button {
  font-size: 12px;
  background-color: rgba(54,54,54,.6);
  float: left;
  height: 15px;
  margin: 3px;
  padding: 5px;
  border-style: solid;
  border-width: 0px 1px;
  border-color: rgb(75,75,75);
  border-radius: 5px;
  cursor: pointer;
}

.fancy-button.auto{
  color: rgb(156, 156, 156);
  border-color: rgb(87,193,87);
}
.fancy-button:hover {
  background-color: rgba(0,102,155,.9);
  color:white;
}

#filterbutton.on{
  background-color: rgba(0,102,155,.9);
}

#tab-details: {
  display: none;
  width: 790px;
  overflow: hidden;
}

.on #tab-details {
  display:table;
  width: 830px;
  overflow: hidden;
}

.button-label{
  //display: inline-block;
  text-align: center;
  margin: auto;
  font-size: 12px;
  float: left;
}
.button-roof{
  border-width: 0px;
  border-top-width:1px;
  border-radius: 5px;
  border-color: rgb(76,76,76);
  border-style: solid;
  padding:2px;
}
.table-cell{
  display: table-cell;
}


.pretty-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgb(0,0,0);
}

.pretty-scroll::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.pretty-scroll::-webkit-scrollbar-thumb
{
  background-color: rgba(55,55,55,.9);
}

#popupbg{
  position:absolute;
  width:100%;
  height:100%;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: rgba(0,0,0,.8);
  display: none;
}

#popupbg.show{
  display: inline;
}

#popupbox{
  position: absolute;
  width: 700px;
  height: 750px;
  top: 50%;
  left: 50%;
  margin: -375px 0 0 -350px;
  background-color: rgba(42,42,42,.9);
  border-radius: 10px;
  color:white;
}

#popupcontents{
  width:680px;
  position:relative;
  padding: 0px 10px;
}
#logobanner{
  width: 563px;
  position: relative;
  z-index:3;
  margin: 10px auto 5px;
}
#openingblurb{
  margin:0px auto;
  font-size: 18px;
  padding: 0px 15px 10px;
  line-height: 1.5em;
  text-align: center;
}
#explainblurb{
  position:relative;
  width:660;
  margin: 0px auto;
  display: table;
}
.explainpanel{
  display: table-cell;
  width: 210px;
  height: 170px;
  text-align: center;
  font-size: 14px;
}
#teaserblurb{
  width: 660px;
  margin: 10px auto 20px;
  font-size: 18px;
  line-height: 1.8em;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
  padding-bottom: 15px;
  text-align: center;
}
.teaseritem{
  text-align: left;
  padding: 3px 15px;
  line-height: 1em;
  font-size: 15px;
  width: 530px;
  margin: 0px auto;

}
#closingblurb{
  width: 610px;
  margin:0px auto;
  font-size: 18px;
  text-align: center;
}
#footerbutton{
  font-size: 22px;
  background-color: rgba(80,80,80,.4);
  height: 30px;
  width: 300px;
  text-align: center;
  margin: 10px auto;
  padding: 5px;
  border-style: solid;
  border-width: 0px 8px;
  border-color: rgba(0,102,155,.9);;
  border-radius: 10px;
  cursor: pointer;
}
#footerbutton:hover {
  background-color: rgba(0,102,155,.9);
  color:white;
}
#lillogo{
  cursor: pointer;
}